body {
    text-align:center;
}
table {
    margin: 0 auto;
    width:400px;
    height:400px;
}
input {
    width:100%;
    height:100%;
    font-size:42px;
}
input[type="button"]:active { 
    background-color: #04456F; 
    color: white;
}

